.header{
  width: 100%;
  padding: 10px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-structure{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  color: coral;
}

.logo {
  height: 6em;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 20s linear;
  }
}

.special-c {
  position: relative;
  left: 6px;
  bottom: 8px;
}

.logo-h1{
  margin: 0;
  line-height: 0.3;
  box-shadow: 2px 2px 5px lightblue;
  border-radius: 10px;
  background-color: white;
  
}

.mini-reaction > img{
  max-width: 32px;
  max-height: 32px;
  padding: 0px 0px;
  transform: translateY(20px);
}
