.icon{
  /* box-shadow: 2px 2px 15px lightblue; */
  border-radius: 1px;
  cursor: pointer;
}

.icon:active{
  scale: 0.9;
}

.icon__small{
  width: 24px;
}

.icon__medium{
  width: 36px;
}

.icon__large{
  width: 60px;
}