.output-container{
  width: 100%;
  padding: 32px;
  min-width: 520px;
  
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  overflow: scroll;
}

.output-component{
  /* border-bottom: 1px solid lightblue; */
  box-shadow: 2px 2px 5px lightblue;
  border-radius: 5px;
  width: clamp(466px, 100%, 1004px);
  max-width: 900px;
  border: 1px solid lightgray;
}
