.output-container{
  width: 100%;
  padding: 0 32px 32px 32px;
  min-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  overflow: auto;
  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, rgba(230,230,230,1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(230,230,230,1) 1px, transparent 1px);
}

.output-component{
  /* border-bottom: 1px solid lightblue; */
  padding: 10px;
  box-shadow: 2px 2px 5px lightblue;
  border-radius: 5px;
  width: clamp(466px, 100%, 816px); /* 816px is 8.5 inches @ 96dpi */ 
  max-width: 816px;
  border: 1px solid lightgray;
  background-color: white;
}

.profile-header{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-header__coords{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.scale-image{
  position: sticky;
  /* margin-top: auto; */
  width: 100%;
  height: 50px;
  max-width: 812px;
  transform: translateX(-2px);
  border-radius: 5px 5px 0 0;
}


.ruler {
  position: relative;
  width: 100%;
  /* margin: 20px auto; */
  height: 14px;
 }

 .ruler .in,
 .ruler .hi,
 .ruler .qi,
 .ruler .tqi {
  position: absolute;
  border-left: 1px solid #555;
 }
.ruler .in{
  width: 11.8%;
}

.ruler .in:after {
position: absolute;
bottom: -15px;
left: -5px;
font: 12px/1 sans-serif;
}

.ruler .qi,
.ruler .tqi{
height: 4px;
}
.ruler .hi{
  height: 6px;
}
.ruler .in{
height: 12px;
}
.ruler .in:nth-of-type(1) {
left: 0%;
}
.ruler .in:nth-of-type(1):after {
content: "0";
}
.ruler .in:nth-of-type(2) {
left: 11.8%;
}
.ruler .in:nth-of-type(2):after {
content: "1";
}
.ruler .in:nth-of-type(3) {
left: 23.6%;
}
.ruler .in:nth-of-type(3):after {
content: "2";
}
.ruler .in:nth-of-type(4) {
left: 35.4%;
}
.ruler .in:nth-of-type(4):after {
content: "3";
}
.ruler .in:nth-of-type(5) {
left: 47.2%;
}
.ruler .in:nth-of-type(5):after {
content: "4";
}
.ruler .in:nth-of-type(6) {
left: 59%;
}
.ruler .in:nth-of-type(6):after {
content: "5";
}
.ruler .in:nth-of-type(7) {
left: 70.8%;
}
.ruler .in:nth-of-type(7):after {
content: "6";
}
.ruler .in:nth-of-type(8) {
left: 82.6%;
}
.ruler .in:nth-of-type(8):after {
content: "7";
}
.ruler .in:nth-of-type(9) {
left: 94.4%;
}
.ruler .in:nth-of-type(9):after {
content: "8";
}
.ruler .in:nth-of-type(10) {
left: 100.3%;
}
.ruler .hi:nth-of-type(8):after {
content: "8.5";
}

.ruler .qi {
left: 25%;
}
.ruler .tqi {
left: 75%;
}
.ruler .hi {
left: 50%;
}



@media print {
  .scale-image{
    display: none;
  }
  
  .output-container{
    padding: 32px 32px 32px 32px;
  }
}