.sidebar{
  border-radius: 0px 10px 10px 0px;
  min-width: 350px;
  min-height: 400px;
  padding: 32px 10px;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px rgba(255, 127, 80, 1);
  overflow-y: scroll;
}
